@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .normal {
    @apply flex uppercase w-[62px] h-[63px] mx-[2.5px] outline outline-[#3a3a3c] outline-offset-[-2.5px] text-white font-bold text-[40px] items-center justify-center cursor-default bg-transparent;
  }
  .correct {
    @apply flex uppercase w-[62px] h-[63px] mx-[2.5px] outline-transparent text-white font-bold text-[40px] items-center justify-center bg-[#538d4e] cursor-default;
  }
  .close {
    @apply flex uppercase w-[62px] h-[63px] mx-[2.5px] outline-transparent text-white font-bold text-[40px] items-center justify-center bg-[#b59f3b] cursor-default ;
  }
  .fill {
    @apply flex uppercase w-[62px] h-[63px] mx-[2.5px] outline-transparent text-white font-bold text-[40px] items-center justify-center bg-[#3a3a3c] cursor-default ;
  }
  .answer {
    @apply absolute w-24 h-10 font-bold leading-10 text-center text-white z-50 uppercase bg-red-600 rounded text-[20px] left-5 top-16 shadow-lg cursor-default;
  }
  .correct-answer {
    @apply absolute w-28 h-10 font-bold leading-10 text-center text-black uppercase bg-white rounded text-[18px] left-4 top-16 shadow-lg cursor-default z-50;
  }
}

.body {
  font-family: sans-serif
}

.board {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
  column-gap: 5px;
  row-gap: 5px;
  padding:10px;
  height: 420px;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.board-column {
  display: grid;
  grid-template-columns: 62px 62px 62px 62px 62px;
  border: 1px;
  border-color: black;
}

.flip {
  animation: .5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

